body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
    color: #9370DB;
}

.titulo {
    margin: 80px;
    font-family: 'Bungee Outline', cursive;
}

.cont {
    background-color: #FFE4E1;
    margin: 50px;
    width: 25%;
    height: 10%;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}